<h1>Toplantıya Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Harun Çetin</td>
            <td>info@code-st.com</td>
            <td>Evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
        <tr>
            <td>Selçuk Çetin</td>
            <td>info@code-st.com</td>
            <td>Evet</td>
            <td><a href="#">Detay</a></td>
        </tr>
    </tbody>
</table>